@import "../styles/variables.scss";

.jumbotron {
  background-image: url("https://raw.githubusercontent.com/kurniawan2805/portfolio-react/master/src/img/bg500.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  overflow: auto;
  width: auto;
  height: calc(100vh - 75px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1,
  p.lead {
    color: $primary-color;
    text-shadow: -2px 2px 5px $shadow-color;
    z-index: 2;
    background: $shadow-color;
    padding: 5px 15px;
    margin: 0.5rem 1rem;
  }
  p.lead {
    font-size: 1rem;
  }
}

/* responsive */
// @media only screen and (min-width: 728px) {
@include mediaMd {
  .jumbotron {
    background-image: url("https://raw.githubusercontent.com/kurniawan2805/portfolio-react/master/src/img/bg1000.jpeg");
    align-items: flex-start;
  }
}

@include mediaLg {
  .jumbotron {
    background-image: url("https://raw.githubusercontent.com/kurniawan2805/portfolio-react/master/src/img/bg2000.jpeg");
    align-items: flex-start;
  }
}
